@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
h1,
.nav-title {
  font-family: Bungee Outline;
  text-align: center;
  color: black;
}

.nav-custom {
  font-family: 'Staatliches';
}

body {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul.navbar-nav a:hover {
  text-decoration: none !important;
}

ul.navbar-nav a {
  color: black;
}
